<!DOCTYPE html>
<html>
<head>
  <title>Saasified</title>
  <%= stylesheet_link_tag    "saasified/application", media: "all" %>
  <%= javascript_include_tag "saasified/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
